table.slashTable, table.slashTable td
{
  margin:0;
  padding:0;
}

table.slashTable td
{
  height:1px;
}

/* ここで指定した色が線のカラーになります */
table.slashTable td.slash
{
  background-color:#333;
}

td.withSlash
{
  padding:0px;
  overflow:hidden;
}